/*整个项目的变量*/
@charset "utf-8";
$headerBarHeight:45px;
$headerBarBg:#ff8000;
$searchBoxBg:#E7E7E7;
$searchBoxHeight:40px;
$tipMsgHeight:60px;
$tipMsgBg:#FFEBEB;
$tipMsgBgBorderColor:#ffdddd;
$tipNumsBg:#FF6262;
$tipNumsWidth:35px;
$commonActiveBtnBg:#ff8000;
$commonInActiveBtnBg:#A0A0A0;
$commonDisabledBtnBg:#ccc;
$commonBtnBg:#fff;
$commonBtnHeight:40px;
$commonMsgTipsColor:#ff6262;
$sectionHeaderColor:#EDEDED;
$sectionHeaderHeight:45px;